.card2{
    opacity:.9;
    width: 95%;
    padding: 1rem;
    box-shadow: 10px 10px 20px #666666;
    border-radius: .5rem;
    text-align: center;
    height: 15rem;
    font-size: 20px;
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card2:hover{
    opacity: 1;
}

.card2 button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 27px;
    padding: 14px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.card2 button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.card2 button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.card2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card2 button:hover span {
    padding-right: 25px;
}

.card2 button:hover span:after {
    opacity: 1;
    right: 0;
}


.card2 .text{
    border-right: 2px solid #666666;
}

.card2 img{
    border: 3px solid gray;
    height: 98%;
    width: 28rem;
    margin-left: 0;
}



.card{
    opacity:.9;
    width: 16rem;
    height:auto;
    box-shadow: 10px 10px 20px #666666;
    border-radius: .5rem;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    background-color: whitesmoke;
}

.card:hover{
    opacity: 1;
}

.card img{
    border: 3px solid gray;
    height: 10rem;
    width: 100%;
}
.background1{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, blue,whitesmoke ,blueviolet);
    filter: blur(8px);
}

.text{
    height: 9rem;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #666666;
}

.text_elem{
    margin: .5rem;
}
.description{
    font-size: 10px;
}
.card button {
    width: 70%;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #999;
}

.card button:hover {background-color: #3e8e41}

.card button:active {
    background-color: #3e8e41;
    box-shadow: 3px 3px 10px #666;
    transform: translateY(3px);
}

.exitBtn{
    position: absolute;
    z-index:1;
    cursor: pointer;
    color: white;
    display: block;
    margin-top: .5rem;
    margin-left: .5rem;
    width: 2rem;
    float: right;
    border-radius: 7px;
    align-self: start;
}

.darkCard{
    background-color: #2d3748;
    border: solid 2px #4a5568;
    color: #bac4d0;
    box-shadow: none;
}

.darkCard .text{
    color: #aaaaaaaa;
}

.darkCard button{
    box-shadow: none;
    color:whitesmoke;
}


.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: whitesmoke;
    border: 2px solid #000;
    box-shadow: 15px 15px 24px ;
    padding: 1rem;
}

/*.darkCard:hover{*/
/*    background-color: gray-700;*/
/*}*/
